body{
  background-color: aqua;
}
p{
  font-size: 1.5rem;
}
.intro{
  text-align: center;
}


.for-h1{
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.for-h2{
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.for-divs{
  font-size: 1.5rem;
  color: rgb(64, 75, 68);
  border: 0.0625rem solid green;
  margin-top: 1rem;
}
.for-img{
  max-width: 5rem; 
  float: left;
  margin-left:15px

}